<div class="background-wrapper"
     [class.day]="(game | async)?.state === GameState.Day"
     [class.night]="(game | async)?.state === GameState.Night || (game | async)?.state === GameState.FirstNight">
</div>
<mat-drawer-container fxFill hasBackdrop="false" class="custom-background-drawer">
  <mat-drawer #drawerLeft mode="push">
    <app-player-card [drawer]="drawerLeft"></app-player-card>
  </mat-drawer>
  <mat-drawer-content>
    <button class="side-drawer-button" mat-stroked-button color="primary" (click)="drawerLeft.toggle()">
      <i class="fas fa-chevron-right"
         [class.fa-rotate-180]="drawerLeft.opened"></i>
    </button>
    <app-player-list></app-player-list>
  </mat-drawer-content>
</mat-drawer-container>
