<div class="background-wrapper"
     [class.day]="(game | async)?.state === GameState.Day"
     [class.night]="(game | async)?.state === GameState.Night || (game | async)?.state === GameState.FirstNight">
</div>
<mat-drawer-container fxFill hasBackdrop="false" class="custom-background-drawer">
  <mat-drawer #drawerLeft mode="push">
    <app-player-card [drawer]="drawerLeft"></app-player-card>
  </mat-drawer>
  <mat-drawer-content>
    <button class="side-drawer-button bg-white" mat-stroked-button color="primary" (click)="drawerLeft.toggle()">
      <i class="fas fa-chevron-right"
         [class.fa-rotate-180]="drawerLeft.opened"></i>
    </button>
    <div fxLayout fxLayoutAlign="center center" class="p-1">
      <mat-card class="player-card"
                fxFlex.gt-md="30%"
                fxFlex.md="60%"
                fxFlex.lt-md="100%">
        <mat-card-content fxLayout="column">
          <app-turn-title></app-turn-title>
          <app-join-code></app-join-code>
          <app-player-list></app-player-list>
        </mat-card-content>
        <mat-card-actions>
          <div class="text-center">
            <button mat-flat-button color="primary" [class.opacity-07]="(me | async)?.ready"
                    [disabled]="(me | async).state === PlayerState.Dead" (click)="toggleReady()">
              <span *ngIf="!(me | async)?.ready">Ready</span>
              <mat-spinner color="accent" class="d-inline-block button-spinner__Left" diameter="20"
                           *ngIf="(me | async)?.ready"></mat-spinner>
              <span *ngIf="(me | async)?.ready">Waiting for players</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
