.login-card {
  max-width: 500px;
  margin: auto;
  transition: all 50ms;
  &.mat-card {
    box-shadow: none;
    @media (min-width: 768px) {
      border: 1px solid rgba(0, 0, 0, .12);
    }

  }
}
