<div class="text-center mt-2">
  <form [formGroup]="form" (keyup.enter)="start()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Player name</mat-label>
      <input matInput formControlName="playerName" placeholder="Player name">
      <mat-error *ngIf="playerNameCtrl.hasError('required')">
        Player name <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="position-relative w-100">
      <button mat-flat-button color="primary" (click)="start()">Start</button>
      <button class="form-back-button" mat-flat-button (click)="back.emit()">
        <i class="fa fa-arrow-left"></i>
        Back
      </button>
    </div>
  </form>
</div>
