<mat-list>
  <mat-list-item *ngFor="let player of (players | async); trackBy: keyTracker"
                 [disabled]="(me | async).state === PlayerState.Dead">
    <span mat-list-icon>
      <img
        *ngIf="((game | async)?.state === GameState.Night || (game | async)?.state === GameState.FirstNight) &&
        (me | async).alignment === PlayerAlignment.Mafia &&
        player.alignment === PlayerAlignment.Mafia; else cityAvatar"
        class="w-100" src="assets/images/hat.png" alt="avatar">
      <ng-template #cityAvatar>
        <img class="w-100" src="assets/images/city.png" alt="avatar">
      </ng-template>
    </span>
    <div mat-line>{{player.name}}</div>
    <div *ngIf="(me | async).state === PlayerState.Alive">
      <button *ngIf="(game | async)?.state === GameState.Vote && player.$key !== (me | async).markedByMe"
              mat-stroked-button color="primary" (click)="markExile(player)">Exile
      </button>
      <button *ngIf="(game | async)?.state === GameState.Vote && player.$key === (me | async).markedByMe"
              mat-raised-button color="primary" (click)="markExile(player)">Exile
      </button>
      <button
        *ngIf="(game | async)?.state === GameState.Night && (me | async).alignment === PlayerAlignment.Mafia && !player.mafiaMarked"
        mat-stroked-button color="warn" (click)="mafiaMark(player)">Mark
      </button>
      <button
        *ngIf="(game | async)?.state === GameState.Night && (me | async).alignment === PlayerAlignment.Mafia && player.mafiaMarked"
        mat-raised-button color="warn">Marked
      </button>
    </div>
  </mat-list-item>
</mat-list>
<h4>{{(players | async)?.length}}/6 players</h4>
<p *ngIf="(players | async)?.length < 6">
  Waiting for more players to join
</p>
