<div fxFlexFill fxLayoutAlign.lt-md="center center">
  <div class="p-2 pt-5">
    <mat-card class="player-card">
      <mat-card-header>
        <div mat-card-avatar>
          <img class="player-avatar" src="assets/images/hat.png" alt="avatar">
        </div>
        <mat-card-title>{{(me | async).name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>Player tips:</h3>
        <ol>
          <li>Remember to not show other players Your identity</li>
          <li>If You fail at that do not worry, because initially all roles will be displayed as 'Townie'</li>
          <li>Use "Toggle my vision" to switch between Townie view and Your special view.
            <strong class="d-block">Beware!</strong> Someone may be watching
          </li>
        </ol>
      </mat-card-content>
      <mat-card-actions>
        <div class="text-center">
          <button mat-stroked-button [disabled]="gameReady | async" (click)="toggleVision()">
            <span *ngIf="gameReady | async">Toggle my vision</span>
            <mat-spinner class="d-inline-block button-spinner__Left" diameter="20" *ngIf="!(gameReady | async)"></mat-spinner>
            <span *ngIf="!(gameReady | async)">Waiting</span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
